footer {
  
}
footer .wrap {
  display: grid;
  position: relative;
  padding-bottom: 50px;
  max-width: 100%;
  padding: 20px calc((100% - 1520px) / 2);
  background-color: #B6D98A;
  flex-direction: column;
  color: white;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: auto auto auto;
  column-gap: 10px;
}
footer .wrap h1 {
  font-size: 0;
  background-image: url(../img/logo.png);
  width: 188px;
  height: 33px;
  background-repeat: no-repeat;
  background-size: contain;
}
footer .wrap select{

  grid-column: 2;
  grid-row: 1;
  width: fit-content;
}
footer .wrap select option{
  
}
footer .wrap .fnb {
  padding-bottom: 10px;
  display: flex;
  align-items: end;
  gap: 20%;
  grid-column: 1;
  grid-row: 2 / span 4;
  padding-top: 30px;
}
footer .wrap .fnb span {
  
}
footer .wrap .fnb span a {
  display: block;
  color: white;
  padding: 5px 0;
}
footer .wrap .fnb span a strong {
  font-size: 20px;
}
footer .wrap .fnb ul {
  
  gap: 5px;
  display: none;
}
footer .wrap .fnb ul li {
  
}
footer .wrap .fnb ul li a {
  
  font-size: 17px;
  color: white;
}
footer .wrap .fnb > a {
  position: absolute;
  right: calc((100% - 1520px) / 2);
  bottom: 30px;
  font-size: 0;
  display: block;
  width: 40px;
  height: 40px;
  background-image: url(../img/blog_btn.png);
  background-size: contain;
  background-repeat: no-repeat;
}
footer .wrap .pnb {
  grid-column: 3;
  grid-row: 1 / span 3;
  gap: 15px;
  margin-bottom: 50px;
}
footer .wrap .pnb li {
  
}
footer .wrap .pnb li a {
  color: white;
  font-size: 20px;
}
footer .wrap ul.pnb li:first-child a{
  padding-right: 5px;
}
footer .wrap ul.pnb li a:hover{
  font-weight: bold;
}
footer .wrap address {
  width: 100%;
  font-size: 15px;
  grid-column: 3;
  grid-row: 4;
}
footer .wrap p {
  font-size: 15px;
  grid-column: 3;
  grid-row: 5;
}